SEED="carpet mandate element blade library will love depend draft cheap gas valid unaware lecture response crumble feed require iron bring hour produce anxiety spin"
SK=secret-extended-key-secret-extended-key-secret-extended-key-regtest1qvp60zptqqqqpqp90scvf2g7h0f7jh2cxn9msgev23hjfucdum0yxwvac3t2fer4tkt29d32jjctyphwlgwqmk442m4txvt57munn92setsxl03u2dpsf72gc3s6x5ef5vmhl3my2gasa98futa37nnyh8awvsrlpyy3jtgwx4jrwqrp5tgtrjztdeuny7eeyqc4d2t2rd5gqlqqw692x6wkxxhma54dkj97hger49agkmdrndgpgdt07lxn748wnpk3f4qamta6sdgfu8q6s
VK=zxviewregtestsapling1qvp60zptqqqqpqp90scvf2g7h0f7jh2cxn9msgev23hjfucdum0yxwvac3t2fer4t50atgsgk5yp330h46kvp64l0ug9a64zcw9cmrk5p5skeev2hewpkpavpcm09u8jt5ev46xl0l2qeegstxy76e27htlmxa08ww4nfgwnx4jrwqrp5tgtrjztdeuny7eeyqc4d2t2rd5gqlqqw692x6wkxxhma54dkj97hger49agkmdrndgpgdt07lxn748wnpk3f4qamta6sdgc624d0
ADDR=zregtestsapling1dzrxqrt9mr07qeqd3ynnms2kuetgxfwgullkuywtzfc2p5mg7avyl8ydvxfm3367wr25jmcmj0r
BIRTH_HEIGHT=2100000
