name: Build for Linux

on:
  workflow_dispatch:
  pull_request:
  push:
    branches:
      - ci
    tags:
      - "v*"

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4
    - name: Build
      run: cargo build
